.cajaproducto {
    border: 0;
    text-align: center;
    padding: 20px;
    background: linear-gradient(167deg, rgba(240,240,240,1) 0%, rgba(233,233,233,1) 100%);
    margin: 5px;
    flex-grow: 1;
}

.unproducto{
    width: 100%;
    height: 100%;
}

#productosdisponibles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
body {
    font-family: 'Roboto', sans-serif;
}

/*encabezados h1*/
h1 {
    font-size: 2em;
    color: #8400f6;
}

/*estilo del boton de agregar al carrito*/
.boton {
    padding: 20px;
    width: 100%;
    max-width: 350px;
    margin-top: 5px;
    background: linear-gradient(117deg, rgba(132,0,246,1) 0%, rgba(44,0,138,1) 100%);
    font-size: 1.3em;
    border: solid 1px;
}
.boton span {
    color: white;
}

@media only screen and (min-width:1921px) {
    .cajaproducto {
        width: 27%;
        min-width: 350px;
        max-width: 400px;
    }
}

@media only screen and (max-width:1920px) {
    .cajaproducto {
        width: 40%;
        min-width: 350px;
    }
}
@media only screen and (max-width: 1280px) {
    .cajaproducto {
        width: 100%;
        min-width: 350px;
    }
}
@media only screen and (max-width: 480px) {
    .cajaproducto {
        width: 100%;
        min-width: 350px;
    }
}

.form input {
    margin:5px;
    padding:5px;
    border:1px solid rgb(76, 0, 255);
    border-radius:10px;
    color: rgb(76, 0, 255);
}

.alerta-producto-repetido {
    background-color: rgb(23, 195, 0);
    color:white;
    padding:5px;
    margin: 10px;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading div h1 {
    display:block;
}